@model List<SistemaArtemis.Models.Servicio>
@{
    ViewBag.Title = "ListarMisServicios";
    Layout = "~/Views/Shared/_TecnicoLayout.cshtml";
}

<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Trabajos Disponibles</h6>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <a href="~/Servicio/List" class="btn btn-warning">Aceptar Nuevo Trabajo</a>
                    <a href="~/Tecnico/Index" class="btn btn-dark">Regresar</a>
                    <h2 class="pagegeader"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Descripción</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Cotización</th>
                                <th>Tecnico</th>
                                <th>Estado</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ var i = 0;}
                            @foreach (var t in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@t.Descripcion</td>
                                    <td>@t.Fecha_Inicio.ToString("dd/MM/yyyy")</td>
                                    <td>@t.Fecha_Fin.ToString("dd/MM/yyyy")</td>
                                    <td>@t.Documento</td>
                                    <td>@t.Tecnico.Nombre</td>
                                    <td>@t.Estado_Servicio.Descripcion</td>
                                </tr>
                            }

                        </tbody>

                    </table>
               </div>
            </div>
        </div>
    </div>
</div>
    

