@model List<SistemaArtemis.Models.Calificacion>
@{
    ViewBag.Title = "Visualizar Calificaciones";
    Layout = "~/Views/Shared/_ClienteLayout.cshtml";
}

<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Trabajos Disponibles</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <a href="~/Cliente/Index" class="btn btn-dark">Regresar</a>
                    <h2 class="page-linl"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Comentario</th>
                                <th>Calificación</th>
                                <th>Cliente</th>
                                <th>Servicio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 0; }
                            @foreach (var calificacion in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@calificacion.Comentario</td>
                                    <td>@calificacion.Calificacion1</td>
                                    <td>@calificacion.Id_Cliente</td>
                                    <td>@calificacion.Id_Servicio</td>
                                    <td>
                                        <a href="@Url.Action("DetallesServicio", "Servicio", new { id = calificacion.Id_Servicio })" class="btn btn-info">Detalles</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>